Repository bounswe/2021SpringGroup10, pull requests merged in 2021-12, with the labels that each got.

#173 Backend/feature/endpoint/post
  purbee_backend/backend_source/app.py
  purbee_backend/backend_source/community/community.py
  purbee_backend/backend_source/database/database_utilities.py
  purbee_backend/backend_source/post/fields.py
  purbee_backend/backend_source/post/post.py
  purbee_backend/backend_source/post/post_fields.py
  purbee_backend/backend_source/post/post_type.py
Labels: Coding: Backend

#177 profile info input page fix
  purbee_frontend/src/components/login-register/styles.css
Labels: Type: Bug, Status: Needs Review, Coding: Frontend

#163 Api call
  purbee_frontend/helper.js
  purbee_frontend/package-lock.json
  purbee_frontend/src/components/login-register/login_register.js
  purbee_frontend/src/components/login-register/profile_info.js
  purbee_frontend/src/helper.js
Labels: Priority: High, Status: Needs Review, Coding: Frontend, Platform: Web

#182 Backend/feature/endpoint/community page
  documents/endpoints_done.txt
  documents/endpoints_will.txt
  purbee_backend/backend_source/app.py
  purbee_backend/backend_source/community/community.py
  purbee_backend/backend_source/database/database_utilities.py
Labels: Type: Documentation, Type: Enhancement, Priority: High, Status: Completed, Status: Needs Review, Coding: Backend, Database

#187 post create functionality is implemented
  purbee_frontend/package-lock.json
  purbee_frontend/package.json
  purbee_frontend/src/App.js
  purbee_frontend/src/components/GenericLoading.js
  purbee_frontend/src/components/createpost/create_post.js
  purbee_frontend/src/components/createpost/google_map.js
  purbee_frontend/src/components/createpost/map.js
  purbee_frontend/src/components/createpost/polls_list.js
  purbee_frontend/src/components/createpost/post_fields.js
Labels: Priority: High, Coding: Frontend

#198 Post is implemented, this is the premature version.
  purbee_frontend/package-lock.json
  purbee_frontend/package.json
  purbee_frontend/src/App.js
  purbee_frontend/src/components/post/mock_post.js
  purbee_frontend/src/components/post/post.js
  purbee_frontend/src/components/post/post.scss
  purbee_frontend/src/index.js
Labels: Type: Enhancement, Status: Help wanted, Priority: High, Status: Needs Review, Coding: Frontend, Platform: Web

#191 Frontend/community page
  purbee_frontend/package-lock.json
  purbee_frontend/package.json
  purbee_frontend/src/App.js
  purbee_frontend/src/components/community_page/community_home.css
  purbee_frontend/src/components/community_page/community_home.js
  purbee_frontend/src/components/community_page/community_preview.js
  purbee_frontend/src/components/community_page/mockCommunity.js
  purbee_frontend/src/components/community_page/preview.css
  purbee_frontend/src/index.js
Labels: Type: Enhancement, Priority: High, Status: Needs Review, Coding: Frontend, Platform: Web

#199 homepage is revised so that links navigating to other pages exist
  purbee_frontend/package-lock.json
  purbee_frontend/src/components/homepage/homepage.js
Labels: Priority: High, Coding: Frontend

#225 Backend/endpoint/subscribe unsubscribe
  purbee_backend/backend_source/app.py
  purbee_backend/backend_source/community/community.py
Labels: Type: Enhancement, Priority: High, Status: Needs Review, Status: Pending, Coding: Backend, Database

#227 community_feed endpoint implemented.
  purbee_backend/backend_source/app.py
  purbee_backend/backend_source/database/database_utilities.py
  purbee_backend/backend_source/post/post_type.py
Labels: Type: Enhancement, Priority: Medium, Coding: Backend

#230 profile page update feature api calls request and response bodies cre…
  .DS_Store
  android/.idea/gradle.xml
  android/.idea/runConfigurations.xml
  android/app/src/main/java/com/example/mvvmapp/data/network/MyApi.kt
  android/app/src/main/java/com/example/mvvmapp/data/network/requests/GetProfileInfoRequest.kt
  android/app/src/main/java/com/example/mvvmapp/data/network/requests/UpdateProfilePageRequest.kt
  android/app/src/main/java/com/example/mvvmapp/data/network/responses/GetProfileInfoResponse.kt
  android/app/src/main/java/com/example/mvvmapp/data/network/responses/UpdateProfilePageResponse.kt
  android/app/src/main/java/com/example/mvvmapp/data/repositories/UserRepository.kt
Labels: Priority: Medium, Status: Needs Review, Platform: Android

#226 Backend/endpoint/community page/change privacy
  purbee_backend/backend_source/app.py
  purbee_backend/backend_source/community/community.py
Labels: Type: Enhancement, Priority: High, Status: Needs Review, Status: Pending, Coding: Backend, Database

#228 Backend/endpoint/community page/ban unban
  purbee_backend/backend_source/app.py
  purbee_backend/backend_source/community/community.py
Labels: Type: Enhancement, Priority: High, Status: Needs Review, Status: Pending, Coding: Backend, Database

#235 Backend/endpoint/community page/handle request
  purbee_backend/backend_source/app.py
  purbee_backend/backend_source/community/community.py
Labels: Type: Enhancement, Priority: High, Status: Needs Review, Status: Pending, Coding: Backend, Database

#232 Android/test/unit test login signup
  .DS_Store
  android/app/src/androidTest/java/com/example/mvvmapp/ExampleInstrumentedTest.kt
  android/app/src/main/java/com/example/mvvmapp/ui/auth/Validator.kt
Labels: Type: Enhancement, Status: In Progress, Platform: Android

#236 Backend/endpoint/community page/handle admin
  purbee_backend/backend_source/app.py
  purbee_backend/backend_source/community/community.py
Labels: Type: Enhancement, Priority: High, Status: Needs Review, Status: Pending, Coding: Backend, Database
