Repository bounswe/2021SpringGroup10, pull requests merged in 2022-01, with the labels that each got.

#246 Backend/enhance/post
  purbee_backend/backend_source/app.py
  purbee_backend/backend_source/database/database_utilities.py
  purbee_backend/backend_source/post/fields.py
  purbee_backend/backend_source/post/post.py
  purbee_backend/backend_source/post/post_fields.py
  purbee_backend/backend_source/post/post_template.py
  purbee_backend/backend_source/post/post_type.py
Labels: Coding: Backend

#241 user_feed endpoint implemented
  purbee_backend/backend_source/app.py
  purbee_backend/backend_source/database/database_utilities.py
Labels: Type: Enhancement, Priority: Medium, Status: Needs Review, Coding: Backend, Platform: Web

#242 user_search endpoint is implemented.
  purbee_backend/backend_source/app.py
  purbee_backend/backend_source/database/database_utilities.py
Labels: Type: Enhancement, Status: Needs Review, Coding: Backend, Platform: Web

#243 community_search endpoint is implemented.
  purbee_backend/backend_source/app.py
  purbee_backend/backend_source/database/database_utilities.py
Labels: Type: Enhancement, Status: Needs Review, Coding: Backend, Platform: Web

#247 Bug fix after new implementation of post (community_search, user_search, user_feed, community_feed)
  purbee_backend/backend_source/app.py
  purbee_backend/backend_source/database/database_utilities.py
Labels: Type: Enhancement, Coding: Backend, Platform: Web

#252 there was a bug in profile_info endpoint and it is fixed.
  purbee_backend/backend_source/app.py
  purbee_backend/backend_source/login/login.py
Labels: Type: Bug, Status: Needs Review, Coding: Backend, Platform: Web

#251 Backend/test/community
  purbee_backend/backend_source/app.py
  purbee_backend/backend_source/community/community.py
  purbee_backend/backend_source/database/database_utilities.py
  purbee_backend/backend_tests/app_test.py
  purbee_backend/backend_tests/community/__init__.py
  purbee_backend/backend_tests/community/test_community.py
  purbee_backend/requirements.txt
Labels: Status: Help wanted, Priority: High, Status: Needs Review, Coding: Backend, Type: Test, Database

#259 android/search page feature
  android/.idea/misc.xml
  android/app/build.gradle
  android/app/src/main/java/com/example/mvvmapp/ui/home/HomeFragment.kt
  android/app/src/main/java/com/example/mvvmapp/ui/home/SearchFragment.kt
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/fragment_search.xml
  android/app/src/main/res/navigation/app_navigation.xml
Labels: Priority: High, Status: Needs Review, Platform: Android

#262 android/feature/update profile
  android/app/src/main/java/com/example/mvvmapp/ui/home/UpdateProfileFragment.kt
  android/app/src/main/java/com/example/mvvmapp/ui/home/profile/ProfileFragment.kt
  android/app/src/main/res/layout/fragment_update_profile.xml
  android/app/src/main/res/layout/profile_fragment.xml
  android/app/src/main/res/navigation/app_navigation.xml
Labels: Priority: High, Status: Completed, Platform: Android

#263 HotFix: GET input type changed #253
  purbee_backend/backend_source/app.py
Labels: Type: Enhancement, Priority: High, Status: Needs Review, Coding: Backend, Database, Platform: AWS

#265 Frontend/feature/homepage
  purbee_frontend/package-lock.json
  purbee_frontend/package.json
  purbee_frontend/src/App.js
  purbee_frontend/src/components/homepage/header.js
  purbee_frontend/src/components/homepage/homepage.js
  purbee_frontend/src/components/homepage/searchbar.js
  purbee_frontend/src/components/homepage/sidebar.js
  purbee_frontend/src/components/homepage/styles.css
Labels: Priority: High, Status: In Progress, Coding: Frontend

#261 Backend/update/advanced_search implemented and some bugs are fixed
  purbee_backend/backend_source/app.py
  purbee_backend/backend_source/database/database_utilities.py
Labels: Type: Enhancement, Status: Needs Review, Coding: Backend, Platform: Web

#271 follow user and unfollow user endpoints are implemented.
  purbee_backend/backend_source/app.py
  purbee_backend/backend_source/database/database_utilities.py
Labels: Type: Enhancement, Status: Needs Review, Coding: Backend, Platform: Web

#269 Backend/request changes
  purbee_backend/backend_source/app.py
Labels: Type: Enhancement, Priority: High, Status: Needs Review, Coding: Backend, Platform: Web, Database, Platform: AWS

#274 Backend/endpoint/comment discussion/updated
  purbee_backend/backend_source/app.py
  purbee_backend/backend_source/comment/comment.py
  purbee_backend/backend_source/database/database_utilities.py
  purbee_backend/backend_source/discussion/discussion.py
  purbee_backend/requirements.txt
Labels: Type: Enhancement, Priority: High, Coding: Backend, Database

#276 profile_page endpoint fixed
  purbee_backend/backend_source/database/database_utilities.py
Labels: Type: Bug, Status: Needs Review, Coding: Backend, Platform: Web

#278 Discussion-Comment related Test cases and FIX es are made #277
  purbee_backend/backend_source/app.py
  purbee_backend/backend_source/comment/comment.py
  purbee_backend/backend_source/database/database_utilities.py
  purbee_backend/backend_source/discussion/discussion.py
  purbee_backend/backend_tests/discussion_comment/__init__.py
  purbee_backend/backend_tests/discussion_comment/test_discussion_comment.py
Labels: Type: Enhancement, Priority: High, Coding: Backend, Type: Test, Database

#279 Backend/test/community page/update
  purbee_backend/backend_tests/community/test_community.py
Labels: Type: Enhancement, Priority: High, Coding: Backend, Type: Test, Database

#282 Comment id changed to string #281
  purbee_backend/backend_source/comment/comment.py
Labels: Type: Bug

#287 Frontend/post discussion
  purbee_frontend/package-lock.json
  purbee_frontend/package.json
  purbee_frontend/src/App.js
  purbee_frontend/src/components/feed/feed.js
  purbee_frontend/src/components/post/googlemap.js
  purbee_frontend/src/components/post/mock_post.js
  purbee_frontend/src/components/post/post.js
  purbee_frontend/src/helper.js
Labels: Type: Enhancement, Priority: High, Coding: Frontend, Platform: Web

#284 Frontend/enhancement/backend integration for post create
  purbee_frontend/package-lock.json
  purbee_frontend/package.json
  purbee_frontend/src/App.js
  purbee_frontend/src/components/createpost/create_post.js
  purbee_frontend/src/components/createpost/post_fields.js
  purbee_frontend/src/components/createposttype/create_post_type.js
Labels: Priority: High, Status: Completed, Coding: Frontend

#283 Frontend/feature/create community
  purbee_frontend/src/App.js
  purbee_frontend/src/components/createcommunity/create_community.js
  purbee_frontend/src/components/createpost/google_map.js
  purbee_frontend/src/utils/common.js
Labels: Priority: High, Status: Completed, Coding: Frontend

#244 key is kept in system env
  purbee_frontend/src/components/createpost/google_map.js
Labels: Priority: Medium, Status: Needs Review, Coding: Frontend
